@model List<Rezervasyon>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Oda.OdaNumarasi</td>
        <td>@item.Giris.ToString("yyyy-MM-dd")</td>
        <td>@item.Cikis.ToString("yyyy-MM-dd")</td>
        <td>@item.ToplamTutar</td>
        <td>
            @if (item.Giris <= DateTime.Now)
            {
                <button type="button" class="btn btn-secondary btn-sm" disabled>İptal Et</button>
            }
            else
            {
                <form asp-controller="Rez" asp-action="RezIptal" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirmReservation();">İptal Et</button>
                </form>
            }
        </td>
    </tr>
}
