@model List<Personel>

@foreach (var item in Model)
{
	<tr>
		<td>@item.Adi</td>
		<td>@item.Soyadi</td>
		<td>@item.PersonelMeslek?.Meslek</td>
		<td>@item.Role?.RoleAdi</td>
		<td>@item.IzinHakki</td>
		<td>@item.Maas</td>
		<td>
			<div class="input-group mb-3">
				<button class="btn btn-outline-secondary dropdown-toggle"
						type="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa-solid fa-user-gear"></i>
				</button>

				<ul class="dropdown-menu">
					<li><a class="dropdown-item" asp-action="PersonelGuncelle" asp-controller="Admin" asp-route-Id="@item.Id"><i class="fa-solid fa-user-pen"></i> Güncelle</a></li>
					<li><a class="dropdown-item" asp-action="PersonelSil" asp-controller="Admin" asp-route-Id="@item.Id" onclick="return confirmReservation();"><i class="fa-solid fa-user-slash"></i> Sil</a></li>
				</ul>
			</div>
		</td>
	</tr>
}
<script>
	function confirmReservation() {
		return confirm("Personel Silinsin Mi?");
	}
</script>
