@* @model List<Kullanici>

@foreach (var item in Model)
{
	<!-- Input for Name -->
	<div class="input-box">
		<span class="details">Adınız</span>
		<input asp-for="@item.Adi" value="@item.Adi" required>
	</div>

	<!-- Input for Surname -->
	<div class="input-box">
		<span class="details">Soyadınız</span>
		<input asp-for="@item.Soyadi" value="@item.Soyadi" required>
	</div>

	<!-- Input for Email -->
	<div class="input-box">
		<span asp-validation-for="@item.Mail" class="details">Mailiniz</span>
		<input asp-for="@item.Mail" type="email" value="@item.Mail" required>
	</div>

	<!-- Input for Phone Number -->
	<div class="input-box">
		<span asp-validation-for="@item.Tel" class="details">Telefon Numaranız</span>
		<input asp-for="@item.Tel" value="@item.Tel" required>
	</div>
} *@

@model List<Kullanici>

@foreach (var item in Model)
{
    <!-- Input for Name -->
    <div class="input-box">
        <span class="details">Adınız</span>
        <input asp-for="@item.Adi" required>
    </div>

    <!-- Input for Surname -->
    <div class="input-box">
        <span class="details">Soyadınız</span>
        <input asp-for="@item.Soyadi" required>
    </div>

    <!-- Input for Email -->
    <div class="input-box">
        <span asp-validation-for="@item.Mail" class="details">Mailiniz</span>
        <input asp-for="@item.Mail" type="email" required>
    </div>

    <!-- Input for Phone Number -->
    <div class="input-box">
        <span asp-validation-for="@item.Tel" class="details">Telefon Numaranız</span>
        <input asp-for="@item.Tel" required>
    </div>

}
